*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
   
}

.calculator-body{
    width: 330px;
    background-color: #eee;
    box-shadow: 5px 5px 10px gray, -5px -5px 10px gray;
    border-radius: 10px;
    padding: 1.1rem;
}
#screen{
    width: 100%;
    height: 80px;
    text-align: right;
    padding: 0.4rem;
    font-size: 1.6rem;
    background-color: white;
    border-radius: 8px;
}
#history{
    color: #919191;
    font-size: 1.1rem;
    padding: 8px 0;
}
.row{
    display: flex;
    justify-content: space-between;
}
button{
    font-size: 1.3rem;
    height: 50px;
    width: 50px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0.8rem 0.6rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
button:focus{
    outline: none;
}
.digit{
    background-color: #eee;
}
.digit:active{
    background-color: grey;
    color: white;
    font-size: 1.1rem;
}
#clear{
    background-color: #db1c15;
    color: white;
}
#backspace{
    background-color: orange;
    color: white;

}
.operator{
    background-color: dodgerblue;
    color: white;
}
.operator:active{
    font-size: 1rem;
    color: black;
    background-color: skyblue;
}
#equal{
    background-color: rgb(50, 161, 50);
    width: 40%!important;
    border-radius: 10px;
    color: white;
}
#equal:active{
    background-color: #5cb85c;
}
@media screen and (max-width:300px){
    *{
        font-size: 1rem;
    }
    .calculator-body{
        width: 100%;
        height: 90vh;
    }
    button{
        box-sizing: border-box;
        font-size: 1rem;
    }
}
